@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #header-section {
    display: none;
  }

  #navbar-section {
    .navbar-wrapper {
      .navbar-logo {
        padding: 20px;
      }

      .navbar-navigation {
        position: absolute;
        ul > li {
          display: block;
        }
        ul > a {
          display: none;
        }
      }

      #mobile-menu {
        display: block;
        padding: 27.5px;
        color: red;
        font-size: 30px;

        position: relative;
      }
    }
  }

  #intro-section {
    .intro-content {
      margin-top: 140px;
    }
  }
}
